$bg-color: rgb(225, 225, 225);
$bg-color-light: rgb(218, 218, 218);
$font-color: rgb(26, 26, 26);
$color-success: rgb(34, 195, 130);
$color-danger: rgb(241, 76, 76);
$color-info: rgb(41, 184, 219);
$color-warning: rgb(245, 245, 67);